
<div ng-controller="BlogController as blogCtrl">

<table border="1">
<tr><th>Blog Title</th><th>Blog Description</th><th>status</th></tr>
<tr ng-repeat="blog in allBlogs" >
<td>{{blog.title}}</td>
<td>{{blog.description}}</td>
<td>{{blog.status}}</td>
 <td>{{blog.status=='Approved' || blog.status=='Rejected'}}</td> 
<td ng-hide="blog.status=='Approved' || blog.status=='Rejected'"><button ng-click=blogCtrl.decision('approve',blog.blogId) class="btn btn-success">Approve</button></td>
<td ng-hide="blog.status=='Approved' || blog.status=='Rejected'"><button ng-click=blogCtrl.decision('decline',blog.blogId) class="btn btn-danger">Decline</button></td>
</tr>
</table>

</div>
